body {
    text-align: center;
}

section, form {
    margin: 25px 0;
}

#coin-toss {
    min-height:125px;
    margin: auto;
}

#coin-toss img {
    height: 150px;
    width: auto;
}

.score-count {
    font-weight: bold;
    margin-right: 10px;
}
